body{

    font-family: Verdana, 'Geneva', Tahoma, sans-serif;
    background-color: whitesmoke;
    text-align: justify;

}
/*
Barra de navegación
*/

header{

    top: 0;
    background-image: url(../img/Header/fondopinya.jpg);   
    padding: 0px;	
    width: 100%;
    height: 70px;
    
}


header img{

    opacity: 50%;
    float: left;
    width: 70px;
    height: 50px;

}


header img:hover{

    opacity: 70%;
    float: left;
    width: 90px;
    height: 70px;

}

header ul li{

    float: right;
    border: black 1px solid;
    padding: 10px;
    background-color: black;
    list-style-type: none;

}

header ul li:hover{

    background-color: #bfbfbf;

}


header ul li a{

    text-decoration: none;
    display: block;
    color: white;

}


header ul li ul{

    margin: 10px 10px 10px -250px;
    display: none;
    position: absolute;

}

header ul li:hover > ul{

    display: block;

}

/*
Contenido de la página
*/

article{

    float: left;
    display: block;
    width: 75%;
    margin-bottom: 375px;
}

.title1{
    
    margin-top: 50px;
    text-align: center;
    text-decoration: underline;

}

.title2{

    text-align: center;
    font-style: italic;
    font-size: 22px;
    text-decoration: underline;

}



.text{

    margin-top: 50px;
    margin-right: 75px;
    margin-left: 75px;
    margin-bottom: 25px;;

}

    /* Etiquetas de tabla */

    table{

        margin: 50px auto auto auto;
        display: block;
        width: max-content;
        border: 2px solid black;
        border-radius: 25px;
        padding: 10px;
        background-color: black;
    }

    tr{

        border: 1px solid black;
        
    }

    th{

        border: 1px solid black;
        background-color: #213629;
        color: white;
    }

    td{

        border: 1px solid black;
        text-align: center;

    }

    /* Classes de Celda */

    .nº{

        width: 35px;
        padding: 5px;

    }

    .colla{

        width: 300px;
        padding: 5px;

    }

    .punts{

        padding: 5px;
    }

    /* Colles Castelleres */

    #castellersvilafranca{

        background-color: #209148;
        color: white;

    }

    #vellavalls{

        background-color: #f7786a;

    }

    #jovetarragona{

        background-color: #8f5f99;

    }

    #minyonsterrassa{

        background-color: #9b7fa1;

    }

    #jovesvalls{

        background-color: #c2311b;
        color: white;

    }

    #capgrossosmataro{

        background-color: blue;
        color: white;

    }

    #castellerssants{

        background-color: #6d7a8f;

    }

    #castellersbarcelona{

        background-color: darkred;
        color: white;

    }

    #xiquetstarragona{

        background-color: #de8a66;

    }

    #castellerssabadell{

        background-color: #427a40;
        color: white;

    }

    #marrecssalt{

        background-color:  #5082ad;
        color: white;

    }
    
    #vilagracia{

        background-color: blue;
        color: white;

    }

    #santcugat{

        background-color: #53a674;
        color: white;

    }
    
    #nensvendrell{

        background-color: red;
        color: white;

    }

    #xiquetsreus{

        background-color: brown;
        color: white;

    }



/*
Panel lateral de la página
*/


aside{

    display: block;
    float: right;
    width: 24%;
    height: 805px;

}


aside h1{

    margin: 20px;
    font-size: 20px;
    
}


aside p{

    margin: 20px;
    font-size: 14px;
}

aside img{

    display: block;
    margin: auto;
    width: 250px;
    height: 200px;
    margin-bottom: 50px;

}


aside #noticies{

    font-size: 40px;
    text-decoration: underline;
    text-align: center;
    
}


aside a {

    text-decoration: none;

}
aside button{

    display: block;
    margin: auto;
    text-decoration: none;
    background-color: grey;
    color: white;
    border-radius: 25px;

}

aside button:hover{

    background-color: black;
    color: white;

}


/*
Footer
*/

footer{

    height: 100%;
    width: 1000px;
    text-align: center;
    bottom: 0;
    display: block;
    margin: auto;

}



footer img{

    height: 75px;
    width: 675;
    vertical-align: middle;

}