body{

    font-family: Verdana, 'Geneva', Tahoma, sans-serif;
    background-color: whitesmoke;
    text-align: justify;

}
/*
Barra de navegación
*/

header{

    top: 0;
    background-image: url(../img/Header/fondopinya.jpg);   
    padding: 0px;	
    width: 100%;
    height: 70px;
    
}


header img{

    opacity: 50%;
    float: left;
    width: 70px;
    height: 50px;

}


header img:hover{

    opacity: 70%;
    float: left;
    width: 90px;
    height: 70px;

}

header ul li{

    float: right;
    border: black 1px solid;
    padding: 10px;
    background-color: black;
    list-style-type: none;

}

header ul li:hover{

    background-color: #bfbfbf;

}


header ul li a{

    text-decoration: none;
    display: block;
    color: white;

}

header ul li ul{

    margin: 10px 10px 10px -250px;
    display: none;
    position: absolute;

}


header ul li:hover > ul{

    display: block;

}

/*
Contenido de la página
*/

article{

    float: left;
    display: block;
    width: 75%;
    
}

.colles1-1{

    height: auto;
    width: 75%;
    margin: 70px auto 70px auto;
    display: block;


}

.title1{
    
    text-align: center;
    text-decoration: underline;

}

.title2{

    text-align: center;
    font-style: italic;
    font-size: 22px;
    text-decoration: underline;

}



.text{

    margin-top: 25px;
    margin-right: 75px;
    margin-left: 75px;
    margin-bottom: 25px;;

}


article img{

    display: block;
    margin: auto;
    margin-bottom: 50px;
    width: 300px;
    height: 300px;

}


.video{

    width: 560px;
    height: 315px;
    display: block;
    margin: auto;
    
}

.audio{

    border: none;
    margin: auto auto 75px auto;
    display: block;
    height: auto;
    width: auto;

}


#imepocplati{

    width: 350px;
    height: 500px;

}


/*
Panel lateral de la página
*/


aside{
    display: block;
    float: right;
    width: 24%;
    height: 805px;
}


aside h1{

    margin: 20px;
    font-size: 20px;
    
}

aside p{

    margin: 20px;
    font-size: 14px;
}

aside img{

    display: block;
    margin: auto;
    width: 250px;
    height: 200px;
    margin-bottom: 50px;

}


aside #noticies{

    font-size: 40px;
    text-decoration: underline;
    text-align: center;
    
}


aside a {

    text-decoration: none;

}
aside button{

    display: block;
    margin: auto;
    text-decoration: none;
    background-color: grey;
    color: white;

}

aside button:hover{

    background-color: black;
    color: white;

}


/*
Footer
*/

footer{

    height: 100%;
    width: 500px;
    text-align: center;
    bottom: 0;
    display: block;
    margin: auto;

}



footer img{

    height: 75px;
    width: 675;
    vertical-align: middle;

}