body{

    font-family: Verdana, 'Geneva', Tahoma, sans-serif;
    background-color: whitesmoke;
    text-align: justify;

}
/*
Barra de navegación
*/

header{

    top: 0;
    background-image: url(../img/Header/fondopinya.jpg);   
    padding: 0px;	
    width: 100%;
    height: 70px;
    
}


header img{

    opacity: 50%;
    float: left;
    width: 70px;
    height: 50px;

}


header img:hover{

    opacity: 70%;
    float: left;
    width: 90px;
    height: 70px;

}

header ul li{

    float: right;
    border: black 1px solid;
    padding: 10px;
    background-color: black;
    list-style-type: none;

}

header ul li:hover{

    background-color: #bfbfbf;

}


header ul li a{

    text-decoration: none;
    display: block;
    color: white;

}


header ul li ul{

    margin: 10px 10px 10px -250px;
    display: none;
    position: absolute;

}


header ul li:hover > ul{

    display: block;

}

/*
Contenido de la página
*/

article{

    float: left;
    display:block;
    width: 75%;
    
}


h1{

    font-size: 40px;
    text-align: center;

}


.text{

    margin-top: 25px;
    margin-right: 75px;
    margin-left: 75px;
    margin-bottom: 25px;;
    text-align: justify;
}


.mapa{

    widows: 400px; 
    height:300;
    display: block;
    margin: auto;
    
}

form{

    margin: 50px auto 200px auto;
    vertical-align: middle;
    border-radius: 25px;
    background-color: #c0bebe;
    width: 300px;
    height: 375px;
    padding: 25px;

}

form label{

    float: left;
    font-weight: bold;
    font-style: italic;

}

form input{

    float: right;

}

textarea{

    width: 100%;
    height: 100px;

}

form a{

    text-decoration: none;

}
form .button{

    margin: auto;
    display: block;
    text-align: center;

}
form .disbutton{

    background-color: whitesmoke;
    color: black;
    
}



form .button:hover{

    background-color: black;
    color: whitesmoke;

}

form h3{

    color: crimson;
    font-size: 15px;
    text-align: center;

}


/*
Panel lateral de la página
*/


aside{
    display: block;
    float: right;
    width: 24%;
    height: 805px;
}


aside h1{

    margin: 20px;
    font-size: 20px;
    
}

aside p{

    margin: 20px;
    font-size: 14px;
}

aside img{

    display: block;
    margin: auto;
    width: 250px;
    height: 200px;
    margin-bottom: 50px;

}


aside #noticies{

    font-size: 40px;
    text-decoration: underline;
    text-align: center;
    
}


aside a {

    text-decoration: none;

}
aside button{

    display: block;
    margin: auto;
    text-decoration: none;
    background-color: grey;
    color: white;

}

aside button:hover{

    background-color: black;
    color: white;

}


/*
Footer
*/

footer{

    height: 100%;
    width: 500px;
    text-align: center;
    bottom: 0;
    display: block;
    margin: auto;

}



footer img{

    height: 75px;
    width: 675;
    vertical-align: middle;

}